<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin area | Startup Details</title>
    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/adminstyle.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/MaterialDesign-Webfont-master/css/materialdesignicons.min.css">
  </head>
  <body> 
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../assets/img/kawo-legal-logo.png" class="logo" alt="kawo-legal-logo"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="dashborad.html">Dashboard</a></li>
            <li><a href="addStartup.html">Add Startup</a></li>
            <li><a href="detailed.html">Startup Details</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Welcome, Admin</a></li>
            <li><a href="login.html">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Startup Details</h1>
          </div>
          <div class="col-md-2">
            <div class="dropdown create">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" 
              aria-haspopup="true" aria-expanded="true">
                Add Startup
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Edit Startup</a></li>
                <li><a href="#">Remove Startup</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="breadcrumb">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="dashboard.html">Dashboard</a></li>
          <li><a href="addStartup.html">Add Startup</a></li>
          <li class="active">Startup Details</li>
        </ol>
      </div>
    </section>

    <section id="main">
      <div class="container">
        <div class="row">

          <div class="col-md-3">
            <div class="list-group">
              <a href="dashboard.html" class="list-group-item">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard           
              </a>
              <a href="addStartup.html" class="list-group-item">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Startup
              </a>
              <a href="posts.html" class="list-group-item active main-color-bg">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Startup Details    
              </a>
            </div>
          </div>

          <div class="col-md-9">
          <!--Startup details-->

            <div class="row">
              <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </div>

            <br>

            <!-- Personal Info -->
            <div class="panel panel-default panel-style">

              <div class="panel-heading">
                <h3>Personal Information</h3>
              </div>

              <div class="panel-body">

                <p><label>Full Name:</label> &nbsp &nbsp Oliver Twist</p>

                <p><label>Email:</label> &nbsp &nbsp email@example.com</p>

              </div>

            </div>

            <!-- Startup Info -->
            <div class="panel panel-default panel-style">

              <div class="panel-heading">
                <h3>Startup Information</h3>
              </div>

              <div class="panel-body">

                <div class="col-md-8">

                  <p><label>Business Name:</label> &nbsp &nbsp Kawolegal</p>

                  <p><label>Business Location:</label> &nbsp &nbsp Lagos</p>

                  <p><label>Business Website:</label> &nbsp &nbsp wwww.kawolegal.com</p>

                  <p><label>Phone:</label> &nbsp &nbsp +233 456 092 233</p>

                  <p><span class="mdi mdi-facebook-box"></span> &nbsp &nbsp http//:www.facebook.com/kawolegal</p>

                  <p><span class="mdi mdi-twitter-box"></span> &nbsp &nbsp http//:www.twitter.com/kawolegal</p>

                  <p><span class="mdi mdi-linkedin-box"></span> &nbsp &nbsp http//:www.linkedin.com/kawolegal</p>

                  <p><label>Market/Industry:</label> &nbsp &nbsp Legal Services</p>

                  <p><label>Description:</label> &nbsp &nbsp <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur.</p>

                </div>

                <div class="col-md-4">

                  <label>Company Logo</label>
                  <div class="fileinput-new thumbnail" style="width: 150px; height: 150px;">
                    <img src="../assets/img/placeholder" alt="contact photo">
                  </div>

                </div>

              </div>

            </div>

            <div class="panel panel-default panel-style">

              <div class="panel-heading">
                <h3>Founder Information</h3>
              </div>

              <div class="panel-body">
                
                <p><label>Full Name:</label> &nbsp &nbsp Mark Okraku</p>

                <p><span class="mdi mdi-facebook-box"></span> &nbsp &nbsp http//:www.facebook.com/markokraku</p>

                <p><span class="mdi mdi-twitter-box"></span> &nbsp &nbsp http//:www.twitter.com/markokraku</p>

                <p><span class="mdi mdi-linkedin-box"></span> &nbsp &nbsp http//:www.linkedin.com/markokraku</p>

              </div>

            </div>

            <br>

            <div class="panel-default">
              <div class="panel-footer">
                <a href=""><button class="btn btn-primary">Edit</button></a>
                <a href=""><button class="btn btn-danger">delete</button></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <footer id="footer">
      <p>Copyright KawoLegal, &copy; 2017</p>
    </footer>

  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/fileinput.js"></script>
  </body>
</html>
